/*=======================================Подключения=================================================*/
/* &display=swap */

@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
   font-family: SFUIDisplay;
   src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: SFUIDisplay;
   src: url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: SFUIDisplay;
   src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
h1{
   color: #DBD7D2;
   font-family: SFUIDisplay;
   font-weight: 700;
   font-size: 36px;
   padding-top: 30px;
   margin-bottom: 20px;
}
h2{
   color: #DBD7D2;
   font-family: SFUIDisplay;
   font-weight: 700;
   font-size: 24px;
   margin-bottom: 20px;
}
.wrapper {
   max-width: 800px;
   margin: 0 auto;
}
body{
   background: url("../img/4K-Plain-Blurred-Background-HD-Desktop-Wallpaper-40962.jpeg");
}
.intro {
   color: #DBD7D2
}
.intro-text {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.list {
   color: #000;
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}


#color{
   border: 2px solid #5e5c5c;
}
.list1 {
   display: inline-block;
   background-color: #CAC4B0;
   padding: 3px;
   margin-bottom: 5px;
}
.list2 {
   display: inline-block;
   background-color: #CAC4B0;
   padding: 3px;
   margin-bottom: 5px;
}
.list3 {
   display: inline-block;
   background-color: #CAC4B0;
   padding: 3px;
   margin-bottom: 5px;
}
.list4 {
   display: inline-block;
   background-color: #CAC4B0;
   padding: 3px;
   margin-bottom: 5px;
}
.list5 {
   display: inline-block;
   background-color: #CAC4B0;
   padding: 3px;
   margin-bottom: 5px;
}
.list6 {
   display: inline-block;
   background-color: #CAC4B0;
   padding: 3px;
   margin-bottom: 5px;
}
.list7 {
   display: inline-block;
   background-color: #CAC4B0;
   padding: 3px;
   margin-bottom: 5px;
}
.content {
}
/*=================backgraund-color=================*/
.color {
   border: 2px solid #DBD7D2;
   box-shadow: 0 0 20px #CAC4B0;
   background-color: #DBD7D2;
   margin-bottom: 15px;
}
.color-text {
   font-family: SFUIDisplay;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 7px;
   text-decoration: underline;
}
.color-discription {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 15px;
}
.transparent {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.color-border-transparent {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background-color: transparent;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.colorfull {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.color-border-colorfull {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background-color: #4593db;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.rgb {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.color-border-rgb{
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background-color: rgb(80, 51, 7);
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.rgba {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.color-border-rgba{
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background-color: rgba(80, 51, 7, 0.582);
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
/*=================background-image=================*/
.image {
   border: 2px solid #DBD7D2;
   box-shadow: 0 0 20px #CAC4B0;
   background-color: #DBD7D2;
   margin-bottom: 15px;
}
.image-text{
   font-family: SFUIDisplay;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 7px;
   text-decoration: underline;
}
.image-text-discription {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 15px;
}
.picture {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.image-border-picture {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background-image: url("../img/ava.png");
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.line-hor {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}

.image-border-line-hor {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: linear-gradient(82deg, rgba(9,121,35,1) 41%, rgba(4,187,245,1) 84%);
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.line-radial {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.image-border-line-radial {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: linear-gradient(82deg, rgba(9,121,35,1) 41%, rgba(4,187,245,1) 84%);
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: radial-gradient(circle, rgba(9,121,35,1) 41%, rgba(4,187,245,1) 84%);
}
/*=================background-repeat=================*/
.repeat {
   border: 2px solid #DBD7D2;
   box-shadow: 0 0 20px #CAC4B0;
   background-color: #DBD7D2;
   margin-bottom: 15px;
}
.repeat-text {
   font-family: SFUIDisplay;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 7px;
   text-decoration: underline;
}
.repeat-discription {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 15px;
}
.default {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.repeat-border-default {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: url("../img/ava.png");
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.no-repeat {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.repeat-border-no-repeat {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: url("../img/ava.png") no-repeat;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.repeat-x {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.repeat-border-repeat-x {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: url("../img/ava.png") repeat-x;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.repeat-y {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.repeat-border-repeat-y {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: url("../img/ava.png") repeat-y;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.space {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.repeat-border-space {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: url("../img/ava.png") space;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.round {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.repeat-border-round {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   background: url("../img/ava.png") round;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
/*==================background-position===============*/
.position {
   border: 2px solid #DBD7D2;
   box-shadow: 0 0 20px #CAC4B0;
   background-color: #DBD7D2;
   margin-bottom: 15px;
}
.position-text {
   font-family: SFUIDisplay;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 7px;
   text-decoration: underline;
}
.position-description {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 15px;
}
.default {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-position-default {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url('../img/ava.png') no-repeat;
   background-position: 0 0;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.center {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-position-center {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url('../img/ava.png') no-repeat;
   background-position: 50%;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.left {
   ont-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-position-left {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url('../img/ava.png') no-repeat;
   background-position: 0 50%;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.corner {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-position-corner {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   /*background: url('../img/ava.png') no-repeat;
   background-position: 100% 100%;*/
   background: url('../img/ava.png') 100% 0 no-repeat;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.position2 {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;

}
.border-position-position2 {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/ava.png") 30% 40% no-repeat;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
/*===================background-attachment=============*/
.attachment {
   border: 2px solid #DBD7D2;
   box-shadow: 0 0 20px #CAC4B0;
   background-color: #DBD7D2;
   margin-bottom: 15px;
}
.text {
   font-family: SFUIDisplay;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 7px;
   text-decoration: underline;
}
.description {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 15px;
}
.default-attachment {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-default-attachment {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 50% 50% no-repeat scroll;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.fixed {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-fixed {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 90px 90px no-repeat fixed;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.local {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-local {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 0 0 no-repeat local;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.size {
   border: 2px solid #DBD7D2;
   box-shadow: 0 0 20px #CAC4B0;
   background-color: #DBD7D2;
}

.size-border-default {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 0 0 /auto auto no-repeat local;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.width {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.size-border-width {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 0 0 /100% auto no-repeat local;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.height {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.size-border-height {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 0 0 /auto 100% no-repeat local;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.full {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.size-border-full {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 0 0 /100% 100% no-repeat local;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.contain {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.size-border-contain {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 0 0 /contain no-repeat local;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.cover {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.size-border-cover {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 0 0 /cover no-repeat;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.sizes {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.size-border-sizes {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/logo.png") 20px 40px /150px 150px no-repeat;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}

.multy {
   border: 2px solid #DBD7D2;
   box-shadow: 0 0 20px #CAC4B0;
   background-color: #DBD7D2;
   margin-bottom: 15px;
}

.one {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-one {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: #456745 url("../img/logo.png") 20px 40px /150px 150px no-repeat;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.two {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-two {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background: url("../img/ava.png") left no-repeat, url("../img/ava.png") right / contain no-repeat;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.three {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-three {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background:  url("../img/ava.png") left no-repeat, url("../img/ava.png") right / contain no-repeat, url("../img/logo.png") 0 0 / cover no-repeat;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}
.four {
   font-family: SFUIDisplay, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 15px;
}
.border-four {
   border: 1px solid #000;
   max-width: 770px;
   height: 250px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
   background:  url("../img/ava.png") left no-repeat, url("../img/ava.png") right / contain no-repeat, url("../img/ava.png") 50% / contain no-repeat, url("../img/logo.png") 0 0 / cover no-repeat;
   overflow: auto;
   margin: 0 auto 7px;
   box-shadow: 2px 0 10px #5e5c5c, -2px 0 10px #5e5c5c;
}


/*================================Задание №2===========================================*/
.createx {
   max-width: 810px;
   margin: 0 auto;
   background: #fff;
}
.createx__title {
   font-family: Lato, sans-serif;
   color: #000;
   font-size: 46px;
   line-height: 1.3;
}
.data {
   
}
.mounth {
   display: inline-block;
   color: gray;
   font-family: lato;
   font-size: 16px;
   font-weight: 400;
   background: url('../img/Vector\ \(Stroke\).svg') 0 50% no-repeat;
   padding-left: 22px;
   margin-right: 24px;
   margin-bottom: 40px;
}
.time {
   display: inline-block;
   color: gray;
   font-family: lato;
   font-size: 16px;
   font-weight: 400;
   background: url('../img/Clock.svg') 0 50% no-repeat;
   padding-left: 22px;
   margin-right: 24px;
   margin-bottom: 40px;
}
.picture {
   margin-bottom: 60px;
}
.txet {
}
.paragraph_1 {
   font-family: lato;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   margin-bottom: 24px;
}
.paragraph_2 {
   font-family: lato;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 40px;
}
.paragraph_3 {
   font-family: lato;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 48px;
}
.quote {
   font-family: Lato;
   font-size: 20px;
   font-weight: 700;
   font-style: normal;
   background: url("../img/braces.png")0 0 no-repeat;
   padding-left: 58px;
   margin-bottom: 48px;
   line-height: 1.5;
}
.paragraph_4 {
   font-family: Lato, Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
   margin-bottom: 24px;
}
.list {
   font-family: Lato, Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   background: url("../img/check.svg") 0 50% no-repeat;
   padding: 0 0 7px 32px;
   margin-bottom: 4px;
}

.listt {
   font-family: Lato, Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   background: url("../img/check.svg") 0 50% no-repeat;
   padding: 0 0 7px 32px;
   margin-bottom: 24px;
}
.paragraph_5 {
   font-family: Lato, Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
   margin-bottom: 24px;
}

.why {
   color: #000;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 46px;
   margin-bottom: 40px;
   padding: 0;
}
.who {
   font-family: Lato;
   font-weight: 700;
   font-size: 16px;
   font-style: normal;
   text-transform: uppercase;
   margin-bottom: 8px;
   padding-top: 30px;
}
.list {
   font-family: Lato;
   font-weight: 400;
   font-size: 16px;
   font-style: normal;
   margin-bottom: 12px;
}
.button {
   display: inline-block;
   font-family: lato;
   font-weight: 400;
   font-size: 14px;
   font-style: normal;
   text-align: center;
   padding-top: 15px;
   color: #fff;
   width: 161px;
   height: 44px;
   background-color: red;
   border-radius: 5px;
}
.link {
   color: #CAC4B0;
   font-family: Lato;
   font-size: 24px;
   font-weight: 700;
   padding-bottom: 40px;
}